@{
    ViewBag.Title = "About";
} 
@model Bacheler_work.Models.Sensor

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>@Html.LabelFor(s=>s.Id)</h4>
<h4>@Html.LabelFor(s => s.phoneNumber)</h4>
<h4>@Html.LabelFor(s => s.location)</h4>


<p>Use this area to provide additional information.</p>
